.banner-portada{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;

    &__btn-controls {
        
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        &__arrow {
            // height: 30px;
            // width: 30px;
            //border: 2px solid;
            //background-color: rgb(52, 49, 49);
            opacity: 0.8;
            color: whitesmoke;
            border-radius: 50%;
            font-size: 2em;
            &:hover{
                cursor: pointer;
                color: black;
                background-color: whitesmoke;
                opacity: 0.3;
            }

        }
        &__copy {
            width: 100%;
            padding: 1em;
            margin: 1em;
            text-align: left;
            background-color: rgba(0, 0, 0, 0.5);
            color: whitesmoke;
            //opacity: 0.8;
        }
    }
    &__img-banner{
        padding: 10px;
        width: 100%;
        height: 100%;
        border-radius: 1.5em;
    }
}



.img-banner {
    width: 100%;
}

