@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

//global variables
$ff-1: "Quicksand", sans-serif;
$ff-2: "PT Serif", serif;

//Color palet
$color-primary: #576574;

//Font weight
$f-bold: 800;
